{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
            <h1 class="display-5">Welcome to {{ settings.ctf_name }}</h1>
            {% if current_user.is_authenticated %}
                <p class="lead">
                    Good luck besting the Piddler! (...you'll need it)
                </p>
            {% else %}
                <p class="lead">You need to <a class="red-underlined-link" href="{{ url_for('users.login') }}">login</a> first.</p>
            {% endif %}
      </div>
    </div>
</div>

<div class="content-section">
    <h2 class="title-heading">Rules</h2>
    <hr/>
    <ul>
        <li>Running time: 
            <code>{{ RunningTime['from'].strftime("%Y-%m-%d %I:%M %p") }}</code>
            to 
            <code>{{ RunningTime['to'].strftime("%Y-%m-%d %I:%M %p") }}</code>
             (All times in <code>UTC</code>)
        </li>
        <li>No splashing in the Piddle Puddle!</li>
        <li>...what are you still reading this for? There's piddles to be puddled!</li>
        
    </ul>
</div>

{% endblock content %}
